//Tribe Bar

#tribe-events-bar {      
    border: 1px solid #dedede;
    box-sizing: border-box;
    padding: 1rem;

    #tribe-views-wrap {
        flex: 1 1 auto;
    }

    #tribe-selected-views {
      li {
        display: inline-block;
        margin-left: 1rem;
        }
        
        a, a .fa {
           color: inherit;           
        }       

        a:hover {            
            text-decoration: none !important;
        }

        .view-tribe-selected {
            border: 1px solid $wfc-lightorange;
            border-radius: 0.35rem;
            line-height: initial;
            padding: 0.35rem;
        }
    }

    .tribe-bar-filters {
        flex: 0 1 auto;

        .tribe-bar-date-filter {
            margin-right: 1.25rem;
        }

        label {
            margin-right: 0.45rem;
        }

        input {
            font-size: 0.75rem;
            padding: 0.5rem;
        }
    }

    button.sidebar-button.tribe-events-button.tribe-no-param {
        border: 1px solid #f0b252;
        padding: 0.48rem;
    }
}

//List View Content Template

.tribe-events-loop {
    justify-content: center;

    .tribe-events-list-separator-month {
        flex: 0 1 auto;
        font-size: 1.4rem;
        font-weight: 600;
        margin: 2rem 0;
    }
    .type-tribe_events {
        border-bottom: 1px solid $wfc-lightgray;
        padding: 1rem 0;
        margin: 1rem 0;
    }

    .tribe-event-wrap {
        flex: 1 1 0;
        margin-right: 2rem;
    }

    .tribe-event-img-wrap {
        margin-left: auto;

        .tribe-events-event-image {
            width: 15rem;
        }
    }

    .tribe-events-list-event-title {
        font-size: 1.25rem;
        font-weight: 700;
        margin: 0 0 0.35rem 0;

        a {
            color: inherit;
        }
    }

    .tribe-events-event-meta {
        color: $wfc-darkgray3;
        font-size: 0.85rem;
    }

    .tribe-events-list-event-description.tribe-events-content {
        p {
            font-size: 0.85rem;
        }
    }
}