//Tribe Wrapper
#tribe-events-content-wrapper {
    border-right: 1px solid $wfc-lightgray;
    padding-right: 1rem;
}

@media screen and (max-width: 600px) {
    #tribe-events-content-wrapper {
        border: none;
        padding: 0;
    }
}

//Tribe Bar

#tribe-events-bar {      
    background-color: $wfc-lightgray3;
    box-sizing: border-box;
    margin: 2rem 0;
    padding: 1rem;

    #tribe-views-wrap {
        flex: 1 1 100%;
        margin-bottom: 1rem;
    }

    #tribe-selected-views {
      li {
        display: inline-block;
        margin-left: 1rem;
        }
        
        a, a .fa {
           color: inherit;           
        }       

        a:hover {            
            text-decoration: none !important;
        }

        .view-tribe-selected {
            border: 1px solid #bcbcbc;
            border-radius: 0.35rem;
            line-height: initial;
            padding: 0.35rem;
        }
    }

    .tribe-bar-filters {
        flex: 0 1 auto;

        .tribe-bar-date-filter {
            margin-right: 1.25rem;
        }

        label {
            margin-right: 0.45rem;
        }

        input {
            font-size: 0.75rem;
            padding: 0.5rem;
        }
    }

    button.sidebar-button.tribe-events-button.tribe-no-param {
        display: inline-block;
        padding: 0.52rem;
        vertical-align: middle;
    }
}

@media screen and (max-width: 727px) {
    #tribe-events-bar .tribe-bar-filters .tribe-bar-date-filter {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 375px) {
    #tribe-bar-collapse-toggle,
    #tribe-bar-date-filter
     {
        flex: 0 0 100%;
    }
    #tribe-selected-views li:first-of-type{
        margin-left: 0 !important;
    }
    #tribe-events-bar .tribe-bar-filters label {
        display: block;
    }
}

//List View Content Template

.tribe-events-loop {
    justify-content: center;

    .tribe-events-list-separator-month {
        border-bottom: 0.5rem solid $wfc-lightgreen;
        flex: 0 1 auto;
        font-size: 1.4rem;
        font-weight: 600;
        margin: 2rem 0;
        padding-bottom: 0.1rem;
    }
    .tribe-events-list-separator-month:first-of-type {
        margin-top: 0;
    }
    .type-tribe_events {
        border-bottom: 1px solid $wfc-lightgray;
        flex: 0 0 100%;
        padding: 1.3rem 0;        
    }

    .tribe-event-wrap {
        flex: 1 1 0;
        margin-right: 2rem;
    }

    .tribe-event-img-wrap {
        margin-left: auto;

        .tribe-events-event-image {
            width: 15rem;
        }
    }

    .tribe-events-list-event-title {
        font-size: 1.25rem;
        font-weight: 700;
        margin: 0 0 0.35rem 0;

        a {
            color: inherit;
        }
    }

    .tribe-events-event-meta {
        color: $wfc-darkgray3;
        font-size: 0.85rem;
    }

    .tribe-events-list-event-description.tribe-events-content {
        p {
            font-size: 0.85rem;
            margin-bottom: 0;
        }
    }
}

a.tribe-events-ical.tribe-events-button {
    background-color: $wfc-lightgray3;
    border-radius: 0.15rem;
    color: inherit;
    font-size: 0.8rem;
    padding: 0.45rem;
}
a.tribe-events-ical.tribe-events-button:hover {
    background-color: $wfc-lightgray;
}

//Sidebar Categories Nav

#wrapper-w4c56c78283d9ebe,
#wrapper-w9q56eaeae2d00e8,
#wrapper-w1x56eaeb3a0f0ba,
#wrapper-w5f56eb078d5cde1 {
    .column-2 {
        margin: 0;
    }
}

#event-categories-head {
    display: none;
}

.event-categories {
    padding-left: 1rem;
}

@media screen and (max-width: 1180px) {
    .event-categories {
        padding-left: 0;
    }
}

@media screen and (max-width: 600px) {
    #event-categories-head {
        display: block;
        margin-bottom: 1rem;
    }

    .event-categories {
        padding: 0 2rem;
    }
}

#menu-events-calendar-categories li {
    background-color: $wfc-lightgreen;
    border-radius: 0.2rem;
    font-size: 0.9rem;
    margin-bottom: 0.4rem;

    a {
        color: green;
        display: block;
        padding: 0.25rem 0.5rem;
    }
    a:hover {
        background-color: green;
        border-radius: 0.2rem;
        color: $wfc-white;
        text-decoration: none !important;
    }
}

#menu-events-calendar-categories li.current-menu-item {
    background-color: green;

    a {
        color: $wfc-white;
    }
}