// Navigation bar background colors are set in Headway design editor

.block-type-navigation ul.menu li:last-child > a {
    border-style: none !important;
}

#menu-action-nav {
    padding: 0.5em 0;
    font-size: ms(0, 0.65em);
}

ul#menu-action-nav li:nth-last-child(2) a {
    border-style: none;
}

// Controls "Donate" button on Action Nav
ul#menu-action-nav li:last-child a {
    background: $wfc-orange none repeat scroll 0 0;
    color: #fff;
    margin-right: 1.35rem;
}

#menu-main-nav {
	a {
		padding: 0 1.5rem;
	}
	// li:hover {
	// 	background-color: $wfc-green;
	// }
}

#menu-main-nav-wrap, 
#menu-action-nav-wrap {
  display: table;
  margin: 0 auto;
  width: 33rem;
}

.takeover-show {
  background-color: $wfc-green;
  display: none;
  height: 5rem;
  position: absolute;
  width: 100%;
  z-index: 998;
}