// Navigation background colors are set in Headway design editor

.block-type-navigation ul.menu li:last-child > a {
    border-style: none !important;
}

#menu-action-nav {
    padding: 0.5em 0;
    font-size: ms(0, 0.8em);
}

ul#menu-action-nav li:nth-last-child(2) a {
    border-style: none;
}

// Controls "Donate" button on Action Nav
ul#menu-action-nav li:last-child a {
    background: #ed6322 none repeat scroll 0 0;
    color: #fff;
}