.footer-block {
	background-color: $wfc-darkgray;
}

//Footer Section (Mirrored)
div#whitewrap div.wrapper-mirroring-wm65591a6abc65d9 {
    margin-top: 2rem;
}

//Section - About WFC 

#block-bo555788f728a8fa {
    background-color: $wfc-lighttan;
}

#footer-about-wfc {
    line-height: 160%;
    margin: 0 auto;
    max-width: 66rem;
    padding: 1.8rem 1.5rem;
}

//Section - Navigation

#footer-nav-container {
	color: $wfc-white;
	display: table;
	font-size: ms(0, 0.85em);
	line-height: 150%;
	margin: 0 auto;
	max-width: 1280px;
	padding: 1.8rem 0rem;
	width: 90%;

	a {
		color: inherit;
		text-decoration: none;
	}
}

#footer-nav-wrap {
  display: table;
  margin: 0 auto;
}

.footer-nav-section {
	display: inline-block;
	float: left;

	p:first-of-type {
		font-weight: bold;
		margin-bottom: 0.5rem;
	}
}

#footer-nav-1 {
	width: 11rem;

	address {
    	line-height: 150%;
    	margin: 0;
	}
	img {
		margin-bottom: 1rem;
    	width: 9rem;
	}
}

#footer-nav-2,
#footer-nav-3,
#footer-nav-4,
#footer-nav-5 {
	margin-left: 0.5rem;
	width: 8rem;
}

#footer-nav-6 {
	margin-left: 1.7rem;
	width: 10rem;
}

// MailChimp sign-up form

.footer-nav-mc {
  margin: .6rem 0;

	label {
	  display: inline-block;
	  width: 4.75rem;
	}

 	input {
	  background-color: $wfc-darkgray;
	  border-color: $wfc-white;
	  border-radius: 0;
	  border-style: solid;
	  border-width: 2px;
	  color: $wfc-white;
	  font-size: inherit;
	  width: 100%;
	}

	input:focus {
		background-color: inherit;
		border-color: inherit;
		color: inherit;
		font-size: inherit;
	}
	input[type="submit"] {
		background-color: $wfc-lightorange;
		border: none;
		cursor: pointer;
		font-size: inherit;
		padding: 0.25rem 0.75rem;
		width: auto;
		-moz-appearance: none;
		-webkit-appearance: none;
	}
	input[type="submit"]:hover {
		color: inherit;
		text-decoration: underline;
	}
}

@media screen and (max-width: 953px) {
	.footer-nav-section ul li {
		padding-top: 0.25rem;
	}

	#footer-nav-1 {
	  display: table;
	  float: none;
	  margin: 0 auto;
	  width: auto;

	  img {
	  	float: left;
	  	width: 10rem;
	  }

	  address {
		float: left;
  		margin: 1rem 0 0 2rem;
	  }
	}

	#footer-nav-2 {
	  	clear: left;
	  	margin-left: 0;
	}

	#footer-nav-2,
	#footer-nav-3,
	#footer-nav-4,
	#footer-nav-5,
	#footer-nav-6 {
		margin-top: 2.5rem;
	}
}

@media screen and (max-width: 715px) {
	#footer-nav-4,
	#footer-nav-6 {
		clear: left;
		margin-left: 0;
	}
	#footer-nav-3,
	#footer-nav-5 {
		margin-left: 4rem;
	}
}

//Section - Copyright & Social Media

#footer-copyright-container {
	color: $wfc-white;
	display: table;
	font-size: ms(0, 0.85em);
	margin: 0 auto 0.7rem;
	max-width: 1280px;
	padding: 0.5rem 0;
	width: 90%;

	a {
		color: inherit;
		text-decoration: none;
	}
}

#footer-copyright-wrap {
	border-top: 1px solid $wfc-white;
	display: table;
	margin: 0 auto;
	padding-top: 0.7rem;
}

#footer-copyright {
	display: inline-block;
	float: left;
	width: 41rem;
}

#footer-social-media {
	float: right;
	font-size: 1.4rem;
	text-align: right;
	width: 25rem;

	ul {
	    display: inline-flex;
	}

	ul li {
		margin-right: 1.2rem;
	}

	ul li:last-of-type {
		margin-right: 0;
	}

	ul li a .fa {
		color: $wfc-white;
	}
}

#pzsp-footerImagePhone .pzsp-entry-body {
  text-align: left;
}

@media screen and (max-width: 953px) {

	#footer-copyright {
		width: auto;
	}
	#footer-social-media {
		width: 17rem;
	}

}

@media screen and (max-width: 715px) {
	
	#footer-social-media {
	  clear: left;
	  float: left;
	  margin-top: 0.6rem;
	  width: auto;
	}
}

//Section - UT Logo

.footer-ut-logo {
    background-color: $wfc-gray;
    font-size: ms(0, 0.85em);
}
#footer-ut-container {
    color: $wfc-white;
    display: table;
    margin: 0 auto;
    max-width: 1280px;
    padding: 0.8rem 0 0.4rem 0;
    width: 90%;
}

#footer-ut-wrap {
	display: table;
	margin: 0 auto;
	width: 66rem;
}

#footer-ut-logo {
	display: inline-block;
	float: left;
	
	img {
  		width: 9rem;
	}
}

#footer-ut-wfc {
	display: inline-block;
	float: right;
	margin-top: 0.6rem;
}

@media screen and (max-width: 953px) {

	#footer-ut-wrap {
		width: 100%;
	}	
}

@media screen and (max-width: 715px) {

	#footer-ut-wfc {
		clear: left;
		float: left;
		margin-top: 0;
	}

	#footer-ut-logo {
		margin-right: 0;
	}

	#footer-ut-wrap {
		margin: 0;
	}
}