.footer-block {
	background-color: $wfc-darkgray;
}

// FOOTER SECTION (MIRRORED)
div#whitewrap div.wrapper-mirroring-wm65591a6abc65d9 {
    margin-top: 2rem;
}

// SECTION - ABOUT WFC 

#block-b1g56c5e8830f91c {
    height: 100%;

#footer-about-us {	
	
	.landing-overlay-img {
	    height: inherit;
	}
}     

    #footerImage-text {        

        a {
            color: #fff;
            text-decoration: none;
        }

        h1 {
            margin-bottom: 0.5rem;
        }

        h3 {
            font-size: 1.2rem;
        }

        p {
            line-height: 170%;
            margin: 2.5rem 0 1.5rem;
        }
    }
}

@media screen and (max-width: 630px) {
	#footer-about-us {
		height: 30rem;
	}
}

@media screen and (min-width: 631px) {
	#footer-about-us {
		height: 45rem;
	}
}

@media screen and (min-width: 2305px) {
	#footer-about-us {
		height: auto;
	}
}

// NAVIGATION SECTION

#footer-nav-container {
	box-sizing: border-box;
	color: $wfc-white;
	font-size: ms(0, 0.85em);
	justify-content: center;
	line-height: 150%;
	max-width: 100%;
	padding: 1.8rem 2rem;
	width: 100%;

	a {
		color: inherit;
		text-decoration: none;
	}

	#footer-nav-wrap {
	  flex: 0 0 68rem;
	  justify-content: space-around;
	  max-width: 100%;
		
		#footer-nav-1,
		#footer-nav-6 {		
			flex-grow: 2;

			address {
		    	line-height: 150%;
		    	margin: 0;
			}
			img {
				margin-bottom: 1rem;
		    	width: 9rem;
			}
		}

		.footer-nav-section {		
			flex: 1 1 5rem;
			margin: 0 0 0 1rem;
			padding: 0 0.5rem 1rem;

			p:first-of-type {
				font-weight: bold;
				margin-bottom: 0.5rem;
			}
		}
	}
}

@media screen and (max-width: 949px) {
	#footer-nav-container {

		#footer-nav-wrap {
			flex: 0 0 100%;
			justify-content: space-around;

			#footer-nav-1,
			#footer-nav-6 {
				flex-grow: 0;
			}

			#footer-nav-1 {
				align-items: center;
				flex: 0 1 100%;
				justify-content: center;
				margin: 0;

				img {
					margin-right: 2rem;
				}
			}

			// .footer-nav-section {		
			// 	flex: 0 0 20rem;
			// 	margin: 0 0 1rem 0;
			// }

		}
	}
}

@media screen and (max-width: 749px) {
	#footer-nav-container {

		#footer-nav-wrap {
			flex: 0 0 30rem;
			justify-content: space-between;
			overflow: hidden;

			#footer-nav-1 {
				margin: 0 0 1rem 0;
			}

			#footer-nav-6 {
				border: none;

				.footer-nav-mc input#mce-EMAIL {
					width: 14rem;
				}
			}

			.footer-nav-section {
				border-bottom: 1px solid $wfc-white;
				flex: 0 0 45%;
				margin: 0 0 1rem 0;
			}
		}
	}
}

@media screen and (max-width: 335px) {
	#footer-nav-container {

		#footer-nav-wrap {
			flex: 0 0 auto;
			justify-content: flex-start;
			
			.footer-nav-section {
				//border-bottom: 1px solid $wfc-white;
				flex: 0 0 100%;
				//margin: 0 0 1rem 0;
			}
		}
	}
}

// MAILCHIMP SIGN-UP FORM

.footer-nav-mc {
  margin: 0.6rem 0;

	label {
	  display: inline-block;
	  margin-bottom: 0.2rem;	  
	}

 	input {
	  background-color: $wfc-darkgray;
	  border-color: $wfc-white;
	  border-radius: 0;
	  border-style: solid;
	  border-width: 2px;
	  color: $wfc-white;
	  font-size: inherit;
	  padding: 0.2rem;
	  width: auto;
	}

	input:focus {
		background-color: inherit;
		border-color: inherit;
		color: inherit;
		font-size: inherit;
		outline: none;
	}
	input[type="submit"] {
		background-color: $wfc-lightorange;
		border: none;
		border-radius: 0.2rem;
		cursor: pointer;
		font-size: inherit;
		padding: 0.25rem 0.75rem;
		width: auto;
		-moz-appearance: none;
		-webkit-appearance: none;
	}
	input[type="submit"]:hover {
		color: inherit;
		text-decoration: underline;
	}
}

// COPYRIGHT & SOCIAL MEDIA SECTION

#footer-copyright-container {
	box-sizing: border-box;
	color: $wfc-white;
	font-size: ms(0, 0.85em);
	justify-content: center;
	max-width: 100%;	
	overflow: hidden;
	padding: 0.5rem 2rem;
	width: 100%;

	a {
		color: inherit;
		text-decoration: none;
	}
}

#footer-copyright-wrap {
	border-top: 1px solid $wfc-white;
	flex: 0 0 68rem;	
	max-width: 100%;
	padding-top: 0.7rem;
}

.copyright-items {
	flex: 0 1 auto;
}

#footer-copyright {
	ul {
		display: inline-flex;
	    
	    li {
	    	line-height: 150%;
	    	margin-right: 0.5rem;
	    }
	}
}

#footer-social-media {
	font-size: 1.4rem;
	margin-left: auto;
	text-align: right;	

	ul {
	    display: inline-flex;
	}

	ul li {
		margin-right: 1.2rem;
	}

	ul li:last-of-type {
		margin-right: 0;
	}

	ul li a .fa {
		color: $wfc-white;
	}
}

@media screen and (max-width: 674px) {
	#footer-copyright {
		ul {
			display: block;
		}
	}
}

@media screen and (max-width: 494px) {
	.copyright-items {
		flex: 0 0 100%;
		max-width: 100%;
	}
	#footer-social-media {
		margin: 1rem 0;
		text-align: left;
	}
}

// UT LOGO SECTION

.footer-ut-logo {
    background-color: $wfc-gray;
    font-size: ms(0, 0.85em);
}
#footer-ut-container {
    color: $wfc-white;
    display: table;
    margin: 0 auto;
    max-width: 1280px;
    padding: 0.8rem 0 0.4rem 0;
    width: 90%;
}

#footer-ut-wrap {
	display: table;
	margin: 0 auto;
	width: 66rem;
}

#footer-ut-logo {
	display: inline-block;
	float: left;
	
	img {
  		width: 9rem;
	}
}

#footer-ut-wfc {
	display: inline-block;
	float: right;
	margin-top: 0.6rem;
}

@media screen and (max-width: 953px) {

	#footer-ut-wrap {
		width: 100%;
	}	
}

@media screen and (max-width: 715px) {

	#footer-ut-wfc {
		clear: left;
		float: left;
		margin-top: 0;
	}

	#footer-ut-logo {
		margin-right: 0;
	}

	#footer-ut-wrap {
		margin: 0;
	}
}