/*
===========
Visit Block
===========
*/

.wrapper-visit {
	background-color: $wfc-green;
	color: $wfc-white;
}

/*
=============
Content Block
=============
*/

.landing-content {
	background-color: $wfc-white;
}

/*
============
Footer Block
============
*/

.footer-block {
	background-color: $wfc-white;
}