// LANDING BLOCK GLOBALS

#wrapper-wb955789e0bd18ef,
#wrapper-wxn55b2a37cad902,
#wrapper-wm65591a6abc65d9 {
	p {
		margin: initial;
	}
}

// WFC LOGO

#wfc-logo {
	background-color: $wfc-lightorange;
	display: inline-block;
  	//margin-left: 5.5%;
  	padding: 0.9rem 1.6rem;
	position: absolute;
  	top: 0;
  	width: 13rem;
  	z-index: 999;

  	img {
  		max-width: 100%;
  		width: 100%;
  	}
}

@media screen and (max-width: 1399px) {
	#wfc-logo {
		margin-left: 0;
		width: 11rem;
	}
}

@media screen and (max-width: 599px) {
	#wfc-logo {
		width: 9rem;
	}
}

// VISIT BLOCK

.wrapper-visit {
	background-color: $wfc-green;
	border-top: 0.6rem solid $wfc-darkgreen;
	color: $wfc-white;

	a {
		color: inherit;
		font-weight: bold;
		letter-spacing: 0.02rem;
		text-decoration: none;
	}
}

#visit-container {
    justify-content: space-around;

    h6 {
    	padding: 0 0 0.25rem 0;
    }
}

.visit-section {
	flex: 1 0 auto;
	padding: 1rem 2rem;
}

#visit-prices {
	border-left: 1px solid $wfc-bordergreen;
	border-right: 1px solid $wfc-bordergreen;
	flex: 2 0 auto;

	h6 {
		flex: 0 0 100%;
	}

	#visit-price-amount {
		margin-left: auto;
	}
}

#visit-action-bar {
    border-top: 1px solid $wfc-bordergreen;
    justify-content: space-around;
}

@media screen and (max-width: 833px) {
	#visit-container {
		justify-content: center;
	}

	.visit-section {
		padding: 1.2rem 2.25rem;
		width: 20rem;
		max-width: 20rem;
	}

	#visit-prices {
		border-right: none;
		flex: 0 0 auto;
		padding-left: 4rem;
	}

	#visit-directions {
		border-top: 1px solid $wfc-bordergreen;
	}

	#visit-action-bar {
		border-left: 1px solid $wfc-bordergreen;
		justify-content: flex-start;
		padding-left: 4rem;
	}
}

@media screen and (max-width: 767px) {
	.visit-section {		
		max-width: 100%;
		padding: 1.2rem 0;
		width: 100%;
	}

	#visit-prices, #visit-action-bar {
		border-left: none;
		padding-left: 0;
	}

	#visit-prices {
		justify-content: center;
	}

	#visit-hours {
		border-bottom: 1px solid $wfc-bordergreen;
	}

	#visit-action-bar {
		button {
			margin: 1rem 0 0 0;
		}
	}

}


// EVENTS LIST

.events-list {

	a > h6 {
        color: $wfc-gray;
    }

    a:hover > h6 {
        text-decoration: underline;
    }

	p {
		margin-bottom: 1rem;
	}
	hr {
		border: 0;
		border-top: 1px solid $wfc-lightgray2;
		border-bottom: none;
		height: 0;
		padding-bottom: 0.4rem;
	}

	hr:last-child {
		padding-bottom: 0;
	}
}

#events-all {
	button {
	    margin: 1rem auto;
	}
}

.events-programs-widget {
	ul.widget-area {
		padding: 2rem 0 0;
	}
}

.landing-events-list-heading {	

	h6 {
		text-transform: uppercase;
	}

	hr {
		border: 0;
		border-top: 1px solid $wfc-lightgray;
		border-bottom: none;
		height: 0;
		margin: 0;
		padding-bottom: 0.4rem;
	}
}

@media screen and (max-width: 600px) {
	.sidebar-container {
		margin: 1rem 0 0 0;
	}
}



// VISIT GARDENS BLOCK

#wrapper-waq5578873511c88 {
	display: none;
}

.landing-gardens {
	background-color: $wfc-white;
}

#garden-visit-img {
    float: right;
    padding: 2rem 0;
    text-align: center;
    
    img {
    	max-width: 100%;
    	width: 100%;
    }
}

@media screen and (max-width: 759px) {
	.landing-gardens .wfc-callout-container {
		width: initial;
	}
}

// NPIN BLOCK

.landing-npin {
	background-color: $wfc-white;
}

.landing-overlay-wrapper {	
    position: relative;

    .landing-overlay-img { 
    	display: block;
    	max-width: initial !important;
	}    
}

#npin-search-form-wrapper {
	left: 0;
	height: 100%;
	justify-content: center;
    position: absolute;    
    top: 0;
    width: 100%;
}

#npin-search-padding {
	align-items: center;
    justify-content: center;
    padding: 2rem;
    width: 100%;
}

.landing-overlay {
	background-color: rgba(0,0,0,0.6);
	color: $wfc-white;
	flex: 0 1 35rem;
	max-width: 100%; 
	padding: 3rem;	
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);

	h1 {
		line-height: 115%;
	}

	h3 {
		line-height: 140%;
	}

	a {
		color: inherit;
		text-decoration: none;
	}
}

#form-npin-simple {
	text-align: right;

	input {
		width: 100%;
	}

	input[type="text"] {
		height: 3rem;
	    margin: 2rem 0 1rem;
	    // max-width: 100%;
	    // width: 100%;
	}

	input[placeholder] {
		box-sizing: border-box;
		font-size: 1rem;
		padding-left: 1rem;
	}

	button {
		display: inline-block;
		margin: 0 0 2rem;
	}	
}

@media screen and (max-width: 630px) {
	#npin-search-padding {
		align-items: inherit;
		padding: 0;
	}

	#npin-search-form {
		height: auto;
		padding: 2rem;
	}		
}

// OUR WORK WIDGETS BLOCK

.landing-widgets {
	background-color: $wfc-white;
}

.landing-cards {
	.block-content {
	    display: flex;
	    flex-flow: row wrap;
	    float: none;
	    justify-content: center;
	    max-width: 100%;	    
	    width: initial;
	}

	ul.widget-area {
	    display: flex;
	    flex: 0 0 51rem;
	    flex-flow: row wrap;
	    justify-content: space-between;
	    margin: 2rem 0 0 0;
	    max-width: 100%;
	}

	li.widget {
	    margin: 0 0 2rem 0;
	}

	li.wfc-callout {
		display: flex;
		flex-flow: column wrap;
		flex: 0 0 30rem;
		justify-content: flex-start;
		order: 2;
	}

	li.widget.wfc-cards {
		flex: 0 0 10rem;
	}

	li.widget.wfc-cards:nth-child(2) {
		order: 1;
	}

	li.widget.wfc-cards:nth-child(3) {
		order: 3;
	}

	li.widget.wfc-cards:nth-child(4) {
		order: 4;
	}

	li.widget.wfc-cards:nth-child(5) {
		order: 5;
	}

}

@media screen and (max-width: 767px) {
	.landing-cards {

		ul.widget-area {
			justify-content: center;
		}
		
		li.wfc-callout {
			align-items: center;
			flex: 0 0 100%;
			order: 1;

			.wfc-callout-container {
				//width: 30rem;
			}
		}

		li.widget.wfc-cards {
			flex: 0 0 20rem;
		}

		li.widget.wfc-cards:nth-child(2) {
			order: 2;
		}

		li.widget.wfc-cards:nth-child(3) {
			order: 3;
		}

		li.widget.wfc-cards:nth-child(4) {
			order: 4;
		}

		li.widget.wfc-cards:nth-child(5) {
			order: 5;
		}

		.wfc-cards-container {
			margin: 0 auto;
		}
	}
}