<html ng-app="featureArchive">

	<head>
		<title>PHP MySQL API Consumed with AngularJS</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-sanitize.js"></script>
		<script src="./data.js"></script>
		<!-- <script src="./data-adjust.js"></script> -->

	</head>

	<body>
		<div ng-controller="getFeatures">

			<div ng-repeat="feature in features">
				<div>{{feature.id}}</div>
				<div>{{feature.date}}</div>
				<div>{{feature.title}}</div>
				<div>{{feature.summary}}</div>
				<full-article ng-if="features">
					<div ng-bind-html="feature.content_full"></div>
				</full-article>	
			</div>

		</div>
	</body>
</html>