$wfc-orange: #ed6322;
$wfc-lightorange: #f0b252;
$wfc-green: #7ec23b;
$wfc-bordergreen: #759f4d;
$wfc-darkgreen: #356033;
$wfc-lightgreen: #c1d580;
$wfc-lightgreen-hover: #acbd72;
$wfc-white: #fff;
$wfc-tan: #e5c27e;
$wfc-lighttan: #e9d8c8;
$wfc-gray: #4d4d4d;
$wfc-darkgray: #232a2f;
$wfc-darkgray2: #555555;
$wfc-darkgray3: #999;
$wfc-lightgray: #dedede;
$wfc-lightgray2: #efefef;
$wfc-lightyellow: lightgoldenrodyellow;

//Span class
.lightorange-spot {
	color: $wfc-lightorange;
}