/*!
   THEME NAME:Wildflower Center
   THEME URI:http://www.headwaythemes.com
   VERSION:1.0
   AUTHOR:Lady Bird Johnson Wildflower Center
   AUTHOR URI:http://wildflower.org
   DESCRIPTION:A Headway child theme
   TEMPLATE:headway
*/

/*
   This is the master SCSS (SASS) file from which all other SCSS files are called and compiled.
   Add SCSS style files below:
*/

/*
=====
Reset
=====
*/

@import 'reset/_reset.scss';

/*
=========
Variables
=========
*/
@import 'variables-site/_colors.scss';

/*
==========
Typography
==========
*/
@import '_modular-scale.scss';
@import 'mixins/_responsive.scss';
@import 'typography/_typography.scss';

/*
=======
Globals
=======
*/
@import 'globals/_flex.scss';
@import 'globals/_globals.scss';

/*
========
Elements
========
*/
@import 'elements-site/_buttons.scss';
@import 'mixins/_buttonstyles.scss';
@import 'elements-site/_sidebars.scss';

/*

/*
==========
Navigation
==========
*/
@import 'navigation/_navigation.scss';

/*
=======
Plugins
=======
*/
@import 'plugins/_wfc-cards.scss';
@import 'plugins/_wfc-call-out.scss';
@import 'plugins/_pizazz_sliderplus.scss';

/*
===================
Headway Page Blocks
===================
*/
//@import 'hw-blocks/_content-block-elements.scss';
@import 'hw-blocks/_landing-page.scss';
@import 'hw-blocks/_footer.scss';

/*
=====
Pages
=====
*/
@import 'pages/_news.scss';
@import 'pages/_features-archives.scss';
@import 'pages/_events.scss';

/*
=====
Posts
=====
*/
@import 'posts/_posts.scss';
@import 'posts/_archives.scss';