body {
	background-color: $wfc-white;
}

.loop {
	padding: 1rem 0 0;
}

.text-alert {
    background-color: red;
    color: #fff;
    display: inline-block;
    font-weight: 600;
    padding: 0 1rem;
    vertical-align: middle;
}

//Shortcodes

    // [wfcprices]

td.wfc-price {
    padding-left: 1rem;
}

//Section Head

.page-heading {
    margin-top: 1rem;

	h1 {
		display: table;
		float: left;
        font-size: 1.9rem;
	}
}

.block img, .wp-caption {
    display: block;
    height: auto;
    max-width: 100%;
}

@media screen and (max-width: 2134px) {
	.page-heading {
	    margin-top: 3rem;
	}
}

@media screen and (max-width: 1024px) {
	.page-heading {
	    margin-top: 8rem;
	}
}

@media screen and (max-width: 640px) {
	.page-heading-mobile {
	    border-bottom: 1px solid $wfc-lightgray;
	    display: inline-block;
	    padding-bottom: 1rem;
	    width: 100%;
	}
}

//Social media buttons at top of page
.social-media-container {
 
    display: table;
    float: right;
    font-size: 1.2rem;

    ul {
        display: inline-flex;
        margin: 1rem 0;
    }

    li {
        margin-right: 0.5rem;
    }
}

@media screen and (max-width: 1024px) {
    #news-page-top {
        h1 {
            margin-bottom: 0;
        }
    }
    
    .social-media-container {
        clear: both;
        float: left;
    }
}

@media screen and (max-width: 640px) {
    .social-media-container {
        display: none;
    }
}

//Padding class for mobile screens
@media screen and (max-width: 1180px) {
	.mobile-padding {
		padding: 0 2rem;
	}
}

//Breadcrumbs
.block-type-breadcrumbs p.breadcrumbs {
    border: 1px solid $wfc-lightgray;
    display: inline-block;
    font-size: 0.75rem;
    margin: 0;
    padding: 0.5rem 0.8rem;
}

p.breadcrumbs span.sep {
    margin: 0 0.3rem;
}

//Sharebar
ul#post-sharebar {

	li {
	    display: inline-block;
	    font-size: 0.85rem;
	    margin-right: 1.5rem;
	}
	
	li:last-child {
	    margin-right: 0;
	}

	i {
		color: $wfc-lightorange;
	}

	i.fa-google-plus {
		font-weight: 600;
	}

	a {
		color: inherit;
	}
}

.sharebar-icons {
    margin-right: 0.4rem;
}

.post-sharebar-wrapper {
    border-top: 1px dashed #dedede;
    border-bottom: 1px dashed #dedede;
    margin-top: 1.4rem;
    padding: 0.65rem;
    text-align: center;
}

@media screen and (max-width: 535px) {
    .social-media-name {
    	display: none;
    }
    ul#post-sharebar i {
    	font-size: 1.25rem;
    }
}


//Captions
figcaption.wp-caption-text {
	color: inherit;
	font-size: 0.85rem;
	font-style: italic;
}