body {
	background-color: $wfc-white;
}

.loop {
	padding: 1rem 1.5rem 0;
}

.page-heading {
    margin-top: 1rem;
}

.block img, .wp-caption {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 2134px) {
	.page-heading {
	    margin-top: 3rem;
	}
}

@media screen and (max-width: 1279px) {
	.page-heading {
		padding: 0 1rem;
	}
}

@media screen and (max-width: 1024px) {
	.page-heading {
	    margin-top: 8rem;
	}
}

//Breadcrumbs
.block-type-breadcrumbs p.breadcrumbs {
    border: 1px solid $wfc-lightgray;
    display: inline-block;
    font-size: 0.75rem;
    margin: 0;
    padding: 0.5rem 0.8rem;
}

p.breadcrumbs span.sep {
    margin: 0 0.3rem;
}

@media screen and (max-width: 1279px) {
	#block-bqh561ecc9868fa9 {
		padding: 0 1rem;
	}	
}

//Sharebar
ul#post-sharebar {

	li {
	    display: inline-block;
	    font-size: 0.85rem;
	    margin-right: 1.5rem;
	}
	
	li:last-child {
	    margin-right: 0;
	}

	i {
		color: $wfc-lightorange;
	}

	i.fa-google-plus {
		font-weight: 600;
	}

	a {
		color: inherit;
	}
}

.sharebar-icons {
    margin-right: 0.4rem;
}

.post-sharebar-wrapper {
    border-top: 1px dashed #dedede;
    border-bottom: 1px dashed #dedede;
    margin-top: 1.4rem;
    padding: 0.65rem;
    text-align: center;
}

//Captions
figcaption.wp-caption-text {
	color: inherit;
	font-size: 0.85rem;
	font-style: italic;
}