#block-bpo562562b704d99	{
	.more-link {
		background-color: transparent;
		color: $wfc-lightorange;
		font-style: italic;
	}

	.more-link:hover {
		text-decoration: underline;
	}

	.more-link::after {
		content: " >";
		display: inline-block;
		padding-left: 0.5rem;
	}

	h3.entry-title {
		font-size: 1.7rem;
	    font-weight: 900;
	    line-height: 120%;
	
	}

	a.post-thumbnail {
	 	float: none;
	 }

	a.post-thumbnail img {
	    float: left;
        margin: 0rem 1.25rem 0 0;
	    max-width: 10rem;
	 }

	 .type-post:last-child {
	     border: none;
	 }	
}
