button:hover {
    cursor: pointer;
    text-decoration: underline; 
}

//Class for <span> tag that allows entire <div> to be clickable button
.button-link {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.slider-button {
    background-color: $wfc-darkgreen;
    display: inline-block;
    font-size: ms(1);
    font-weight: 900;
    letter-spacing: 0.05em;
    margin-top: 3rem;
    padding: 1rem 2rem;
    position: relative;
    text-transform: uppercase;

    a {
        color: inherit;
        text-decoration: none;
    }
}

.orange-button {
    background-color: $wfc-orange;
    border: none;
    color: $wfc-white;
    display: block;
    font-size: 0.7rem;
    font-weight: 600;
    letter-spacing: 0.03em;
    padding: 0.4rem 1rem;
    position: relative;
    text-transform: uppercase;

    a {
        color: inherit;
        text-decoration: none;
    }
}

.callout-arrow {
    margin-top: 0.5rem;
    width: 1.38rem;
}

.sidebar-button {
    background-color: #f0b252;
    color: #ffffff;
    padding: 0.5rem;
    text-decoration: none;

    a {
        background-color: #f0b252;
        color: #ffffff;
        padding: 0.5rem;
    }
}