/** Text */
.sidebar-heading {
	p {
    	font-size: 0.8rem;
    	margin: 0 0 0.5rem 0;
    }
}

/** Containers */
.sidebar-container {
	margin: 2.5rem 0 0 0;

	p  {
	    font-size: 0.8rem;
	    line-height: 130%;
    	margin: 0.5rem 0 0.5rem 0;
	}

	li {
		font-size: 0.8rem;
	}
}

.sidebar-inner {
	border: 1px solid $wfc-lightgray;
}


.sidebar-list-container {
    border: 1px solid $wfc-lightgray;
    max-width: 37rem;
}

.sidebar-list-heading {
    background-color: $wfc-lightyellow;
    border-bottom: 1px solid $wfc-lightgray;
    padding: 1rem 0 0.5rem 1rem;

    h6 {
    	margin-bottom: 0.5rem;
	}

}

//Events List


//Twitter Feed


//Wire Signup Form

#wire-signup-container {
	max-width: 37rem;
    padding-top: 1rem;

	img {
	    width: 100%;
	}
}

#wire-signup {
	padding: 1rem;
}

.sidebar-mc {
	label {
		font-size: 0.8rem;
	}

	input {
	    font-size: 0.7rem;
	    margin-bottom: 0.5rem;
	    margin-left: 0.25rem;
	    padding: 0.2rem;
	    width: 10rem;
	}
}

.sidebar-mc.footer-nav-mc {
    margin: 0.6rem 0 0 0;

    input[type="submit"]:hover {
    	color: $wfc-white;
        text-decoration: underline;
    }
}

//News Resources

#news-resources-container {
    font-weight: 600;
    max-width: 37rem;

    ul {
        padding: 0.5rem 1rem;
    }

    li a {
    	color: inherit;
    }
}